<header class="main-header">
	<!-- Logo -->
	<a href="/" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>1A</b>PG</span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b>1A Auto</b>PlayGround</span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>
		<div th:unless="${env == 'production'}" class="nav navbar-nav navbar-right">
			<a id="navbar-env" class="header-text"> <span th:text="${env}" style="float: right; margin-right: 25px"></span></a>
		</div>
	</nav>
</header>